/* Responsive Navbar */
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Hamburger menu styles */
.navbar .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

@media (max-width: 1135px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        display: flex;
    }
    .navbar-logo {
        position: fixed;
        top: 20px;
        left: 0;
        z-index: 1201;
        background: white;
        padding: 0 10px;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .navbar .menu-toggle {
        display: flex;
        position: fixed;
        top: 20px;
        right: 30px;
        left: auto;
        transform: none;
        z-index: 1200;
    }
    .navbar ul {
        
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: whitesmoke;
        width: 70%;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-top: 85px;
        padding: 0;
        margin-left: 15%;
        
        
    }
    .navbar ul.active {
        display: flex;
        
    }
    .navbar ul li {
        margin: 20px 0;
        text-align: left;  
    }
}

@media (max-width: 600px) {
    .navbar ul {
        
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: whitesmoke;
        width: 70%;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-top: 85px;
        padding: 0;
        margin-left: 15%; 
    }
    .navbar ul.active {
        display: flex !important;
    }

    
}

@media (max-width: 459px) {
    
    .navbar ul {
        
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: whitesmoke;
        width: 70%;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-top: 85px;
        padding: 0;
        margin-left: 15%;
        
        
    }
    .navbar ul.active {
        display: flex;
    }
}